{% extends "base.html" %}

<script type="text/javascript">

</script>

{% block main %}
	<div class="question_img_likes  cancel_border">
			<div id="img_like_in_answer">
				<img class="img_in_answer" src="../../uploads/{{ question.author.profile.avatar }}"></img>
				<div style="text-align: center; margin-top: 5px;">{{ question.author }}</div>
				<div class="likes">
					<!--
					<form>
						<button class="btn_likes_P js_answer_vote"></button>
						<div class="likes_num">{{ question.rating }}</div>
						<button class="btn_likes_M js_answer_vote"></button>
					</form>
					-->
					{% if question.author != user %}
						<a href="#" class="js_answer_vote" data-id="{{ question.id }}" data-action="like" data-type="question"><div class="btn_likes_P"></div></a>
						<div class="likes_num ques_rating">{{ question.rating }}</div>
						<a href="#" class="js_answer_vote" data-id="{{ question.id }}" data-action="dislike" data-type="question"><div class="btn_likes_M"></div></a>
					{% else %}
						<div class="likes_num ques_rating">{{ question.rating }}</div>
					{% endif %}
				</div>
				
			</div>
			<!-- <img class="img_question" src="uploads/avatar.jpg"></img> -->
			<div class="question_text_asnwer_tags">
				<h3 class="h3_question">{{ question.title }}</h3>
				<div class="text" style="min-height: 150px;">
					{{ question.text }}
				</div>
				<div class="tags">Теги:
				{% for tag in question.tags.all %}
					<a href="../../?tag={{ tag.text }}">{{ tag.text }}</a>
				{% endfor %}
				</div>
			</div>
		</div>
		<hr>
	{% for answer in answers %}
		<div class="question_img_likes" id="pos{{ answer.id }}">
			<div id="img_likes">
				<img class="img" src="../../uploads/{{ answer.author.profile.avatar }}"></img>
				<div style="text-align: center; margin-top: 5px;">{{ answer.author }}</div>				
			</div>
			<!-- <img class="img_question" src="uploads/avatar.jpg"></img> -->
			<div class="question_text_asnwer_tags">
				<div class="text" style="margin-top: 10px;">
					{{ answer.text }}
				</div>
				<div style="margin-top: 15px;">
					{% if answer.author != user %}
						<a href="#" class="js_answer_vote" data-id="{{ answer.id }}" data-action="like" data-type="answer"><div class="btn_likes_P" style="display: inline-block;"></div></a>
						<div class="likes_num answer_rating{{ answer.id }}" style="display: inline; margin-top: -5px;">{{ answer.rating }}</div>
						<a href="#" class="js_answer_vote" data-id="{{ answer.id }}" data-action="dislike" data-type="answer"><div class="btn_likes_M" style="display: inline-block;"></div></a>
					{% else %}
						<div class="likes_num answer_rating{{ answer.id }}" style="display: inline; margin-top: -5px;">{{ answer.rating }}</div>
					{% endif %}
				</div>	
				<label class="checkbox">
					<!--<input class="" data-rid="{{ answer.id }}" type="checkbox" value="123" checked> asdfawe <br />-->
					{% if answer.right_answer == True %}
						<input class="js_rigth_answer js_rigth_answer{{ answer.id }}" data-rid="{{ answer.id }}" type="checkbox" value="" checked {% if user != question.author %} disabled data-act="false" {% else %} data-act="true" {% endif %}>
					{% else %}
						<input class="js_rigth_answer js_rigth_answer{{ answer.id }}" data-rid="{{ answer.id }}" type="checkbox" value="" {% if user != question.author %} disabled data-act="false" {% else %} data-act="true" {% endif %}>
					{% endif %}
					Правильный ответ
				</label>
			</div>
		</div>
	{% endfor %}
	{% include "paginator.html" %}
	{% if user.is_authenticated %}
		
		<hr style="margin-bottom: 20px;">
		<form class="form-horizontal" action="/answer/{{ question.id }}/" method="post">
			{% csrf_token %}
			{% for f in form.visible_fields %}
			<div style="margin-bottom: 50px;">
				{{ f }}
				<button type="submit" class="btn" style="margin-top: 15px;">Ответить</button>
			</div>
			{% endfor %}
		</form>
	{% endif %}
	
	<script>
		function scrollToElement(theElement) {
			if (typeof theElement === "string") theElement = document.getElementById(theElement);		
			var selectedPosX = 0;
			
			var selectedPosY = 0;
			while (theElement != null) {
				selectedPosX += theElement.offsetLeft;
				selectedPosY += theElement.offsetTop;
				theElement = theElement.offsetParent;
			}
			window.scrollTo(selectedPosX,selectedPosY);
		}
	
		scrollToElement('pos{{ position }}');
	</script>
	
{% endblock %}

{% block scripts %}
	<script>
		$('.js_answer_vote').on('click', function() {
			var id = $(this).data('id');
			var action = $(this).data('action');
			var type = $(this).data('type');
			$.ajax({
				url : '/ques_answer/vote/',
				method : 'post',
				data : {
					id : id,
					action : action,
					type : type,
				},
			}).done(function(resp) {
				console.log(resp);
				console.log(resp.second_rating)
				if (resp.type == 'question') {
					$('.ques_rating').html(resp.second_rating);
				} else {
					console.log('answer');
					$('.answer_rating' + resp.id).html(resp.second_rating);
				}
			});
			return false;
		});
		
		$('.js_rigth_answer').on('click', function() {
			var id = $(this).data('rid');
			var act = $(this).data('act');
			
				$.ajax({
					url : '/right_answer/',
					method : 'post',
					data : {
						id : id,
					},
				}).done(function(resp) {
					console.log(resp);
					console.log(resp.right)
				});
			
			<!--return false;-->
		});
	</script>
{% endblock %}

<!--
if (resp.type == 'question') {
	$('.ques_rating').html(resp.second_rating);
} else {
	console.log('answer');
	$('.answer_rating' + resp.id).html(resp.second_rating);
}
-->
					
