{% extends "base.html" %}

<script type="text/javascript">

</script>

{% block main %}
	<div class="question_img_likes  cancel_border">
			<div id="img_like_in_answer">
				<img class="img_in_answer" src="../../uploads/{{ question.author.profile.avatar }}"></img>
				<div style="text-align: center; margin-top: 5px;">{{ question.author }}</div>
				<div class="likes">
					<form>
						<button class="btn_likes_P"></button>
						<div class="likes_num">{{ question.rating }}</div>
						<button class="btn_likes_M "></button>
					</form>
				</div>
				
			</div>
			<!-- <img class="img_question" src="uploads/avatar.jpg"></img> -->
			<div class="question_text_asnwer_tags">
				<h3 class="h3_question">{{ question.title }}</h3>
				<div class="text" style="min-height: 150px;">
					{{ question.text }}
				</div>
				<div class="tags">Теги:{% for tag in question.tags.all %}
					<a href="../../?tag={{ tag.text }}">{{ tag.text }}</a>
				{% endfor %}
				</div>
			</div>
		</div>
		<hr>
	{% for answer in answers %}
		<div class="question_img_likes" id="pos{{ answer.id }}">
			<div id="img_likes">
				<img class="img" src="../../uploads/{{ answer.author.profile.avatar }}"></img>
				<div style="text-align: center; margin-top: 5px;">{{ answer.author }}</div>
				<!--
				<div class="likes">
					<form>
						<button class="btn_likes_P"></button>
						<div class="likes_num">5</div>
						<button class="btn_likes_M "></button>
					</form>
				</div>
				-->
			</div>
			<!-- <img class="img_question" src="uploads/avatar.jpg"></img> -->
			<div class="question_text_asnwer_tags">
				<div class="text" style="margin-top: 10px;">
					{{ answer.text }}
				</div>
				<label class="checkbox">
					{% if answer.right_answer == True %}
						<input type="checkbox" value="" checked>
					{% else %}
						<input type="checkbox" value="">
					{% endif %}
					Правильный ответ
				</label>
			</div>
		</div>
	{% endfor %}
	{% include "paginator.html" %}
	{% if user.is_authenticated %}
		
		<hr style="margin-bottom: 20px;">
		<form class="form-horizontal" action="/answer/{{ question.id }}/" method="post">
			{% csrf_token %}
			{% for f in form.visible_fields %}
			<div style="margin-bottom: 50px;">
				{{ f }}
				<button type="submit" class="btn" style="margin-top: 15px;">Ответить</button>
			</div>
			{% endfor %}
		</form>
	{% endif %}
	
	<script>
		function scrollToElement(theElement) {
			if (typeof theElement === "string") theElement = document.getElementById(theElement);		
			var selectedPosX = 0;
			
			var selectedPosY = 0;
			while (theElement != null) {
				selectedPosX += theElement.offsetLeft;
				selectedPosY += theElement.offsetTop;
				theElement = theElement.offsetParent;
			}
			window.scrollTo(selectedPosX,selectedPosY);
		}
	
		scrollToElement('pos{{ position }}');
	</script>
	
{% endblock %}

