{% extends "base.html" %}

{% block main %}
	{% if choice_tag != None %}
		<h3 id="title">
			Тег: <a href="?tag={{ choice_tag }}">{{ choice_tag }}</a>
		</h3>
	{% endif %}
	{% for question in questions %}
		<div class="question_img_likes">
			<div id="img_likes">
				<img class="img" src="../../uploads/{{ question.author.profile.avatar }}"></img>
				<!-- Пропущен элемент -->
				<div style="text-align: center; margin-top: 5px;">{{ question.author }}</div>
				<div class="likes">
					<form>
						<button class="btn_likes_P"></button>
						<div class="likes_num">{{ question.rating }}</div>
						<button class="btn_likes_M "></button>
					</form>
				</div>
			</div>
			<!-- <img class="img_question" src="uploads/avatar.jpg"></img> -->
			<div class="question_text_asnwer_tags">
				<a href="{% url 'answer' question.id %}"><h3 class="h3_question">{{ question.title }}</h3></a>
				<div class="text text_min_height">
					{{ question.text }}
				</div>
				<div class="answer_span"><a href="{% url 'answer' question.id %}">Читать ответы --></a></div> 				
				<br />
				<br />
				<div class="tags">Теги: 
				{% for tag in question.tags.all %}
					<a href="?tag={{ tag.text }}">{{ tag.text }}</a>
				{% endfor %}
				</div>
				
				<br />
				<br />
				<span>Дата создания: {{ question.created|date:"d.m.Y " }}</span>
			</div>
		</div>
	{% endfor %}
	{% include "paginator.html" %}
{% endblock %}
