{% extends "base.html" %}

{% block main %}
	<h3>Вход</h3>
	{% if login_error %}
	<div id="error_mess">
		Не правильный пароль или логин
	</div>
	{% endif %}
	<form class="form-horizontal" action="/login/" method="post">
		{% csrf_token %}
		<input class="text" style="display: none;" type="text" name="next_page" value="{{ next_page }}">
		<div class="control-group">
			<label class="control-label">Логин</label>
			<div class="controls">
				<input class="text" type="text" id="inputEmail" name="username" placeholder="Логин">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Пароль</label>
			<div class="controls">
				<input class="text" type="password" id="inputPassword" name="password" placeholder="Пароль">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn">Вход</button>
			</div>
			<div class="controls" style="margin-top: 15px;">
				<a href="/register/">Зарегистрироваться</a>
			</div>
		</div>
	</form>
{% endblock %}
